/*Basic styles*/

.link-decoration {
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 1.2;
}

.no-letter-spacing {
 letter-spacing: normal;
}

.pl-30 {
  padding-left: 30px;
}

.overlay {
  position: absolute;
  inset: 0 0;
  width: 100%;
  opacity: 0.6;
  background: #000;
}
.heading {
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
}

/*Header*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 87px 50px 96px;
}

.header__menu {

}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.header__links-list-item {
  padding-left: 5px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style-type: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  line-height: 0;
}

.header__logo-image {
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: end;
  row-gap: 2px;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.header__address {

}

/*Cover*/

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  padding: 153px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text {
  display: block;
  padding-top: 5px;
  letter-spacing: 30px;
  line-height: 1.3;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  z-index: 1;
  color: #fff;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 19px;
  text-transform: uppercase;
}

.bet-button {
  cursor: pointer;
  padding: 11px 31px 12px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
}

/*Lots*/

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {

}

.lots__card-list {

}

.lots__card-list-item {

}

.card-link {

}

.card {

}

.card_type_film {

}

.card_type_book {

}

.card_type_picture {

}

.card__title {

}

.card__text {

}

.lots__look-more-link {

}

/*About*/

.about {

}

.about__column {

}

.about__logo {

}

.about__logo-image {

}

.about__title {

}

.about__text {

}

/*Footer*/

.footer {

}

.footer__menu {

}

.footer__menu-list {

}

.footer__menu-list-item {

}

.footer__menu-link {

}

.footer__menu-link_active {

}

.footer__social-list {

}

.footer__social-list-item {

}

.footer__social-link {

}

.footer__social-icon {

}