/*Basic styles*/

.link-decoration {
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 1.2;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.overlay {
  position: absolute;
  inset: 0 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.heading {
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
}

/*Header*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.header__links-list-item {
  padding-left: 0;
  padding-right: 5px;
  list-style-type: circle;
  line-height: 1;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style-type: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  line-height: 0;
}

.header__logo-image {
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 2px;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.header__address {
  justify-self: end;
}

/*Cover*/

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  padding: 153px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text {
  display: block;
  padding-top: 5px;
  letter-spacing: 30px;
  line-height: 1.3;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  z-index: 1;
  color: #fff;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 19px;
  text-transform: uppercase;
}

.bet-button {
  cursor: pointer;
  padding: 11px 31px 12px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
}

/*Lots*/

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 597px;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  height: 100%;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.card__text {
  position: relative;
  z-index: 1;
  margin-top: auto;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/*About*/

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  column-gap: 24px;
  padding: 33px 24px 180px 24px;
}

.about-column--right {
  margin-top: 100px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  row-gap: 24px;
}

/*Footer*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1px 50px 82px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__menu-list-item {
  line-height: 1;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  column-gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}